/* backlog.html */

.content_backlog {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backlog_columns {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.column_assignedTo {
    margin-left: 15px;
    width: 20%;
}

.columns_titles {
    font-size: 20px;
    color: #1f3190;
    font-weight: bold;
}

.column_Title {
    width: 20%;
}

.column_category {
    width: 15%;
}

.column_details {
    width: 45%;
}

.d_flex_column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.area_tasks_backlog {
    width: 100%;
}

/* templateRenderBacklogTasks */

.backlog_rows {
    height: 100px;
    width: calc(100% - 5px);
    background: #e1e4f1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 15px;
    cursor: pointer;
}

.backlog_rows:hover {
    background: #cfd2df;
}

.backlog_user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    margin-left: 12.5px;
}

.backlog_user_pic {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 100px;
    margin-right: 10px;
}

.backlog_user_name {
    font-size: 20px;
}

.backlog_title {
    width: 20%;
}

.backlog_task_title {
    font-size: 20px;
}

.backlog_category {
    width: 15%;
}

.backlog_task_category {
    font-size: 20px;
}

.backlog_details {
    width: 43%;
    padding-right: 2%;
}

.backlog_task_details {
    font-size: 17px;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* templateEditTask */

.card_singleView{
    border: 1px solid #1E3190;
    border-radius: 15px;
    margin: 0vh 5vw;
}

.area_task_overlay {
    background: #e1e4f1d1;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}



/*
Media Queries 
backlog.html */



@media (max-width: 1000px) {
    .backlog_columns {
        display: none;
    }

    .backlog_rows {
        height: fit-content;
        padding: 10px 5px 5px 5px;
        display: block;
    }

    .backlog_user, .backlog_title, .backlog_category, .area_tasks_backlog, .backlog_details {
        width: 100%;
        margin-left: 0px;
    }

    .backlog_user_pic {
        width: 30px;
        height: 30px;
    }

    .backlog_user_name, .backlog_task_category {
        font-size: 17px;
    }
}

@media (max-height: 1000px) {
    .backlog_task_title {
        font-size: 17px;
    }

    .backlog_user_name, .backlog_task_category, .backlog_task_details {
        font-size: 15px;
    }
}