/* board.html */
.content_board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
}

.board_columns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 25%;
}

.area_toDo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.area_toDo_draganddrop {
    background: #e7e7e7;
}

/* templateRenderBacklogTasks */

.board_task {
    background: #e1e4f1;
    width: 92%;
    height: 160px;
    margin-bottom: 15px;
    padding: 5px;
}

.board_task:hover {
    background: #cfd2df;
}

.board_task_date {
    font-size: 15px;
    color: grey;
}

.board_task_title {
    font-size: 22px;
}

.board_task_assigned_name {
    font-size: 17px;
    color: rgb(236, 79, 79);
}

.details_text {
    font-size: 15px;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}



/*
Media Queries 
backlog.html */



@media (max-width: 1000px) {
    #tasks_todo, #tasks_testing{
        border-left: 1px dotted grey;
    }
    .content_board {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        height: fit-content;
    }

    .board_columns {
        height: 40vh;
        width: 50%;
        align-items: center;
    }

    .board_task {
        width: 93%;
        padding: 5px;
        cursor: pointer;
    }

    .area_toDo {
        border-right: 1px dotted grey;
        border-left: none;
    }
}

@media (max-width: 750px) {
    #tasks_todo, #tasks_testing{
        border-left: unset;
    }
    .board_columns {
        height: 40vh;
        width: 95%;
        align-items: center;
    }

    .board_task {
        width: 93%;
        padding: 5px;
        cursor: pointer;
    }

    .area_toDo {
        border-right: none;
        border-left: none;
        border-bottom: 1px dotted grey;
        margin-bottom: 30px;
    }
}

@media (max-height: 1000px) {
    .board_columns {
        height: 80vh;
    }

    .board_task_date, .board_task_assigned_name {
        font-size: 13px;
    }

    .board_task_title, .details_text {
        font-size: 15px;
    }
}

@media (max-height: 650px) {
    .board_columns {
        height: 80vh;
    }
}