h2 {
    color: #1f3190;
}

p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.border_Low{
    border-left: 5px solid green;
}
.border_Medium{
    border-left: 5px solid orange;
}
.border_High{
    border-left: 5px solid red;
}

.content_board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.board_columns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 24%;
}

.area_toDo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: #d8d8d8;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.area_toDo_draganddrop {
    background: #c5c5c5;
}

.board_task {
    height: 150px;
    background: #00000012;
    width: 94%;
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
}

.board_task:hover {
    background: #00000031;
}

.board_task_date {
    font-size: 15px;
    color: grey;
}

.board_task_title {
    font-size: 22px;
}

.board_task_assigned_name {
    font-size: 17px;
    color: rgb(236, 79, 79);
}

.details_text {
    font-size: 15px;
    overflow-wrap: anywhere;
    color: #616A6B;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

@media (max-width: 1400px) {
    .content_board {
flex-direction: column;
    }

    .board_columns {
        height: 24%;
        width: 100%;
        align-items: flex-start;
    }

    .area_toDo {
        flex-direction: row;
    }

    .board_task {
        height: 90%;
    /* border-left: 5px solid rgb(236, 79, 79); */
    background: #00000012;
    width: 217px;
    padding: 5px;
    cursor: pointer;
    }
}