body{
    margin: 0;
    display: flex;
    height: 100vh;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

h1{
    margin: 0;
}

.d-none{
    display: none;
}

.subHeadlineH1{
    margin-top: 0;
    font-size: 12px;
}

.mainArea{
    background-color: #f3f3f3;
    height: calc(100vh -32px);
    width: 100%;
    padding: 16px;
}

.content{
    height: 90vh;     /* Diese Höhe ist nur ein Beispiel */
}
