body{
    margin: 0;
    display: flex;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

h1{
    margin: 0;
}

.d-none{
    display: none;
}

.border_Low{
    border-left: 5px solid rgb(43, 151, 88);
}
.border_Medium{
    border-left: 5px solid rgb(255, 196, 0);
}
.border_High{
    border-left: 5px solid rgb(255, 60, 0);
}

.color_Low {
    color: rgb(43, 151, 88) !important;
}

.color_Medium {
    color: rgb(255, 196, 0) !important;
}

.color_High {
    color: rgb(255, 60, 0) !important;
}

.fontColor {
    color: #1E3190;  /* Beispiel */
}

.background_1{
    background-color: #f3f3f3;
}

.background_2{
    background-color: #1E3190;
}


.subHeadlineH1{
    margin-top: 0;
    font-size: 12px;
}

.mainArea{
    width: 100%;
    min-height: calc(100vh - 32px);
    padding: 16px;
    margin-left: 152px;
}

.content{
    margin-top: 5vh;
    /* height: 85vh; */
}
