/* navbar */

.navbarMain{
    height: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 0px;
    position: fixed;
}
.navbarSub{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbarLogo{
    object-fit: cover;
    height: 50px;
    padding-bottom: 40px;
}

.navbarUserImg{
    object-fit: cover;
    height: 40px;
    padding-top: 20px;
}

.navbarLinks{
    display: flex;
    flex-direction: column;
}

.navbarLinks a{
    padding: 10px 40px 10px 0px;
    display: flex;
    align-items: center;
}

.navbarLinks a div{
    margin-right: 24px;
    width: 3px;
    height: 25px;
    background-color: transparent;
}

.mediaFooterLegal{
    display: none;
}



/*
Media Queries 
navbar */



@media (max-width :1000px) {

    body{
        display: block;
    }
    .mainArea{
        width: auto;
        margin-left: 0;
        min-height: calc(100vh - 142px) !important;
    }
    .navbarLinks{
        flex-direction: row !important;
    }
    .navbarLinks a{
        padding: 12px !important;
        flex-direction: column-reverse;
    }
    .navbarLinks a div{
        margin-right: 0px !important;
        height: 3px !important;
        width: 100% !important;
        margin-top: 3px;
    }

    .navbarMain{
        flex-direction: row !important;
        justify-content: space-around !important;
        align-items: center;
        padding: 16px !important;
        position: unset !important;
        
    }
    .navbarSub{
        display: none !important;    
    }
    .navbarLogo{
        padding-bottom: 0px !important;
        padding: 12px !important;
    }
    .mediaNavbarLogo{
        display: block !important;
    }
}

@media (max-width: 650px){
    .navbarMain {
        flex-direction: column !important;
    }
    .mediaNavbarLegal{
        display: none !important;
    }
    .mediaFooterLegal{
        display: flex !important;
    }
}