/* Task.html and Backlog.html */

.card {
    background-color: rgb(225, 228, 241);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.addTask {
    display: flex;
    justify-content: space-evenly;
}

.addTaskChild {
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    width: 40%;
}

.userInput {
    height: 45px;
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-family: 'PT Sans';
}

.userInput::placeholder {
    text-align: start;
    padding-left: 5px;
}

.catagoryHeadline {
    margin-bottom: 10px;
    font-size: 20px;
}

.userSelect {
    width: calc(100% + 20px);
    height: 65px;
    border-radius: 4px;
    border: none;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-family: 'PT Sans';
}

.description {
    height: 230px;
    width: 100%;
    font-size: 20px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    resize: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
}

.btnContainer {
    margin-top: 45px;
    display: flex;
    width: 100%;
}

.createbtn {
    padding: 13px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    background-color: #1E3190;
    color: white;
    font-weight: bold;
}

.createbtn:hover {
    opacity: 0.8;
}

.noFlowByOpenCard{
    overflow-y: hidden;
}



/*
Media Queries 
Task.html and Backlog.html */



@media (max-width: 1000px) {
    .addTask {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .addTaskChild {
        width: 70%;
    }
    .btnContainer{
        justify-content: center;
        margin-left: 10px;
    }
    .createbtn{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 650px) {
    .addTaskChild {
        width: 90%;
    }
    .createbtn {
        font-size: 12px;
        margin-left: 4px;
        margin-right: 4px;
    }
    .card_singleView{
        margin: 0vh 1vw;
    }

}

@media (max-height: 1000px) {
    .addTaskChild {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .catagoryHeadline {
        font-size: 15px;
    }

    .userInput {
        height: 25px;
        font-size: 15px;
        padding: 5px 10px 5px 10px;
    }

    .userSelect {
        height: 40px;
        padding: 5px 10px 5px 10px;
        font-size: 15px;
    }

    .description {
        height: 150px;
        font-size: 15px;
    }

    .createbtn {
        font-size: 15px;
    }
}