.cancelbtn {
    font-size: 17px;
    border: none;
    background: none;
    cursor: pointer;
    color: #1E3190;
    font-weight: bold;
}

.cancelbtn:hover {
    color: #1f39c0;
}

.taskUserImg {
    object-fit: cover;
    height: 50px;
    border-radius: 100%;
    border: 3px solid transparent;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
    opacity: 0.6;
}

.taskUserImg:hover {
    opacity: 1;
}

.taskUserSelected {
    border-color: #1E3190;
    opacity: 1;
}


/*
Media Queries 
backlog.html */



@media (max-height: 1000px) {
    .taskUserImg {
        height: 40px;
    }

    .cancelbtn {
        font-size: 13px;
    }
}